body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #161616;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "NexaBold";
    src: url("./NexaBold.otf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "NexaBold", "Roboto", "Helvetica", sans-serif;
    margin: 0;
}
